<!DOCTYPE html>
<html lang="en">
{{>HeadLink}}
<body>
  {{>nav}}
  <div class='containter-fluid main_header'>
        <div class='row'>
            <div class="col-md-10 col-12 mx-auto" >
                <div class="row">
                    <!-- Right  Header Div -->
                    <div class='col-md-6 col-12 main_header_right'>
                        <figure>
                            <img src='Images/PngItem_42408.png' class='img-fluid' title='Cool Boy'>
                        </figure>
                    </div>
                    <!-- Left header div -->
                    <div class='col-md-6 col-12 main_header_left'>
                        <p>Hi, I'm Manpreet Singh(CEO)</p>
                        <h1>CEO the of<span class='txt_clr'> Glowe.com</span>. For More Projets Click On More</h1>
                        <a href='#'><button>More Projects</button></a>
                    </div>
                </div>
            </div>   
        </div>
     </div>
     {{!-- About Section --}}
     
  {{>footer}}  
</body>
</html>