<!DOCTYPE html>
<html lang="en">
{{>HeadLink}}
<body>
  {{>nav}}
      <div class='containter-fluid main_header'>
        <div class='row'>
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right  Header Div -->
                    <div class='col-md-6 col-12 main_header_right'>
                        <figure>
                            <img src='Images/2480259.jpg' class='img-fluid' title='Cool Boy'>
                        </figure>
                    </div>
                    <!-- Left header div -->
                    <div class='col-md-6 col-12 main_header_left'>
                        <h1>OOPs<span class='txt_clr'> Page Not Found</span>.</h1>
                        <h3>Click on Below Button Go to Back to <span class='txt_clr'>Home</span></h3>
                        <a href='/'><button>Go Back</button></a>
                    </div>
                </div>
            </div>   
        </div>
     </div>
     {{!-- About Section --}}
     
  {{>footer}}  
</body>
</html>